<main class="page__main">

    <div class="form__container">
        <h2 class="form__main-title">Subscribe to our newsletter</h2>
        <label  class="text__name"for="insertName">User Name</label>
        <input type="text" name="userName" id="insertName">

        <label for="checkVerify">I accept receiving emails</label>
        <input type="checkbox" name="veryfySendEmail" id="checkVerify" value="checked">

        <label for="insertEmail">Introduce your E-mail address</label>
        <input type="email" name="userEmail" id="insertEmail">

        <button class="button__save">SAVE</button>
        <button class="button__show-users">SHOW USERS</button>
        <button class="button__reset">RESET</button>
        <ul class="list__users-info"></ul>
    </div>
</main>